<li>
	Burger: {{name}}

	{{!-- <button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}YummY!{{else}}Feed me!{{/if}}
	</button> --}}

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
